body{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: 18px;
}


.texto-alinhado-e{
    text-align: left;
}

.texto-alinhado-d{
    text-align: right;
}

.texto-centralizado{
    text-align: center;
}

.texto-justificado{
    text-align: justify;
}