@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@font-face{
    font-family: 'Minha Fonte';
    src: url("/font/littlebird.ttf");
}

body{
    font-size: 16pt;
}

h2{
    font-weight: normal;
}

h2#padrao{
    font-family: Arial, Helvetica, sans-serif;
}

h2#google{
    font-family: 'Pacifico', cursive;
}

h2#local{
    font-family: 'Minha Fonte', sans-serif;
}